@font-face
{
	font-family:"Raleway-reg";
	src: url(Raleway-Regular.ttf);
}
body
{
	margin: 0;
}

h1 { 
    display: block;
    font-family:"Raleway-reg";
	font-weight: bold;
	color: white;
}

#header
{
	min-width: 100%;
	background-color: #414B4F;
	height: 100px;
	vertical-align:top;
	text-align: center;
}
#header .navbar
{
	height: 100px;
	display: inline-block;
	text-align: right;
	float: right;
	vertical-align: middle;
}
#header .logo
{
	width: 100px;
	height: 100px;
	background-image: url("logo.png");
	background-size: 100px;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	float: left;
}
#header .menu
{
	margin-top: -1%;
	color: #acacac;
	padding:50px;
	width: 130px;
	padding:50px 30px;
	vertical-align: middle;
	display: inline-block;
	font-family: "Raleway-reg";
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bolder;
	text-align: left;
}

#header .menu:hover
{
	color: white;
	transition: 0.3s;
}
#header .menu:hover .dropdown-content
{
	display: block;
	text-align: left;
	transition: 0.3s;
}
#header .dropdown-content {
	display: none;
	z-index: 1;
	position: absolute;
	right: 0.3%;
	padding: 15px 0px;
	margin-right: -8px;
	background-color: #414B4F;
}
#header .dropdown:hover .dropdown-content{

	display: block;
}
#header .dropdown-content a
{
	color: #acacac;
	font-family: "Raleway-reg";
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bolder;
	display: block;
	padding: 16px 10px;
	text-decoration: none;
}
#header .dropdown-content a:hover
{
	color: white;
}
#container
{
width: 100%;
}
#container .imagecontainer
{
	width: 100%;
	height: 500px;
	overflow: hidden;
}
#container .imagecontainer img
{
	vertical-align: middle;
	height: 100%;
	width: 100%;
	max-width: none;
}

#container .titlecontainer 
{
	padding-top: 150px;
	padding-left: 20%;
	background-color: #a9d15e;
	width: 80%;
	height: 250px;
}

#container .donation
{
	background-color: #f2f2f2;
	font-family:"Raleway-reg";
	display: inline-block;
	float: right;
	width: 25%;
	margin-top: 20px;
	margin-right: 10%;
}
#container .donation h3
{
	width: 90%;
	background-color: #7ACEDA;
	color: white;
	margin: 0;
	width: 98%;
	border-style: solid;
	border-color: #7ACEDA;
	border-bottom-color: #2C8E9C;
	padding: 5% 0;
}
#container .donation table
{
	width: 90%;
}
#container .donation select, input 
{
	width: 95%;
	display: inline-block;
}
#container .donation .radio input
{
	width: 10%;
	display: inline-block;
}
#container .donation textarea 
{
	width: 95%;
	height: 100px;
	resize: none;
	display: inline-block;
}
#container .report
{
	margin-top: 20px;
	font-family:"Raleway-reg";
	display: inline-block;
	float: left;
	width: 43%;
	margin-left: 20%;
}
#container .add1
{
	float: left;
}

#container .add2
{
	float: right;
}
#container .content-text
{
	padding-top: 2%;
	padding-bottom: 2%;
	font-family: "Raleway-reg";
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	color: grey;
}
#container .index-project-wrapper
{
	text-align: center;
	margin-bottom: 2%;
	background-color: lightgrey;
}
#container .project1
{
	margin: 0 3%;
	background-image: url("image1.gif");
	background-position: center;
	height: 400px;
	width: 450px;
	display: inline-block;
}
#container .project2
{
	margin: 0 3%;
	background-image: url("image2.jpg");
	background-position: center;
	height: 400px;
	width: 450px;
	display: inline-block;
}
#container .project3
{
	margin: 0 3%;
	background-image: url("image3.jpg");
	background-position: center;
	height: 400px;
	width: 450px;
	display: inline-block;
}
.project1:hover , .project2:hover , .project3:hover
{
	transform: scale(1.1);
	transition: 1s;
}
#container .about
{
	background-color: lightblue;
	font-family: "Raleway-reg";
	height: 150px;
	padding-top: 5%;
	padding-left: 20%;
	font-size: 3em;
}
#container .mission-wrapper
{
	font-family: "Raleway-reg";
	padding-top: 3%;
	padding-bottom: 3%;
	text-align: center;
	background-color: lightgray;

}
#container .mission-title
{
	
	font-weight: bold;
	font-size: 4em;
	margin-bottom: 1%;
}
#container .mission-text
{
	font-size: 1em;
}
#container .dmd-wrapper
{
	padding-top: 3%;
	padding-bottom: 3%;
	text-align: center;
	font-family: "Raleway-reg";
	width: 100%;
}
#container .dmd-image
{
	display: inline-block;
	width: 10%;
	height: 100%;
}
#container .dmd-title
{
	font-size: 3em;
	font-weight: bold;
}
#container .dmd-text
{
	vertical-align: top;
	margin: 2%;
	width: 50%;
	font-size:1em;
	display: inline-block;
	text-align: justify;
}
#container .project-wrapper
{
	text-align: center;
	margin-bottom: 2%;
	background-color: white;
	font-family: "Raleway-reg";
	vertical-align: top;
}
#container .project-header
{
	background-color: lightblue;
	font-family: "Raleway-reg";
	height: 150px;
	padding-top: 5%;
	padding-left: 20%;
	font-size: 3em;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
}
#container .project-wrapper .title-img-wrapper
{
	display: inline-block;
	vertical-align: top;
	width: 49%;
}
#container .project-wrapper .title-text-wrapper
{
	vertical-align: middle;
	margin-top:10%;
	display: inline-block;
	font-size: 2vh;
	width: 49%;
}
#container .project-wrapper .content-wrapper
{
	width: 33%;
	display: table-cell;
	margin:2% -2px;
}
#container .project-wrapper .img-wrapper
{
	width: 100%;
	vertical-align: top;
}
#container .project-wrapper .text-wrapper
{
	width: 100%;
	font-size: 2vh;
}
#footer
{
	height: 100px;
	width: 100%;
	background-color: #414B4F;
	text-align: center;
	font-style: "Raleway-reg";
	color: #acacac;
	font-size: 12px;
	clear: both;	
}